{% include "categories.html" %}

<ul class="postLists">
	{% for post in posts %}
	<li class="container">

		<a href="{{url_for('editPost', category_id=category.id, item_id=item_id)}}">
			<i class="far fa-edit"></i>
		</a>
		<a href="{{url_for('deletePost', category_id=category.id, item_id=item_id)}}">
			<i class="fas fa-times"></i>
		</a>

		<div>
			<p>{{post.post}} </p>
			<span class="time-right">Posted on {{ '{:%Y-%m-%d %H:%M:%S}'.format(post.date) }}</span>
		</div>

	</li>
	{% endfor %}
</ul>


<div style="order:2;" class="addItem">
    <a href="{{url_for('newPost', category_id=category.id, item_id=item_id)}}"> 
        <i class="fas fa-plus-circle" style="font-size: 2em; color:blue"></i>
    </a>
</div>

